:root {
  --text-color: rgba(255, 246, 194,1);
  /* --text-color: white; */
  --bkrnd-color: rgba(8,39,245,1);
  /* font-family: 'merriweatherultrabold_italic'; */
  /* text-transform: uppercase; */
  user-select: none;
}


body {
  margin: 0;
  padding: 0;
  background: rgba(100,100,100, .25);
}


#site_wrapper {
  position: relative;
  background: var(--bkrnd-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}



.v {
  position: absolute;
  top:50%;
  left: 50%;
  /* transform: translate(-70%, -70%); */

  /* background-image: radial-gradient(rgba(250,250,250,1) 0%, rgba(255,255,255,75%) 10%, transparent 50%); */
  /* width: 160vw; */
  /* height: 160vw; */
  /* transform: scale(.5);s */
  /* transform: translateY(-20%); */
  /* display: none; */
  z-index: 50;
}

/* @media (max-width: 1440px) {
  .v{
    background-image: radial-gradient(rgba(250,250,250,1) 0%, rgba(255,255,255,0%) 40%, transparent 100%);
    width: 200vh;
    height: 200vh;
    transform: translate(-37.5%, -52%);
  }
} */
