.transition-canvas {
  width:100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}





html {
  overflow: hidden;
}
body {
  overflow: hidden;
}

svg > line {
  stroke-linecap: round;
}

#utilities_wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
}


#loginout {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  padding: 2px 4px;
  z-index: 100;
}


.flyout {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}
.flyout.show {
  /* display: inline; */
  opacity: 1;
  pointer-events: all;
}
.flyout:not(.show){
  /* opacity: 0; */
  pointer-events: none;
}
.flyout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.flyout.full {
  width: 100vw;
  height: 100vh;
}

#login_flyout {
  z-index: 4;
}

#login_flyout > .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: max-content;
  padding: 4rem 2rem;
  transform: translate(-50%, -50%);
}

#login_flyout > .inner > .close {
  /* position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 4px;
  font-size: 1.2rem; */
}

#btn_hbgr > svg, #login_close > svg {
  stroke: var(--text-color);
}
#btn_hbgr > svg > line, #login_close > svg > line {
  transform-origin: top center;
  stroke-width: .7;
  transition: transform .25s ease-in-out;
}
#btn_hbgr:not(.active) > svg > .l1{
  transform: translateY(25%);
}
#btn_hbgr:not(.active) > svg > .l2{
  transform: translateY(50%);
}
#btn_hbgr:not(.active) > svg > .l3{
  transform: translateY(75%);
}

#btn_hbgr.active > svg > .l1{
  transform: translateY(50%) rotate(-45deg);
}
#btn_hbgr.active > svg > .l2{
  transform: translateY(50%) scaleX(0);
}
#btn_hbgr.active > svg > .l3{
  transform: translateY(50%) rotate(-135deg);
}

#login_flyout:not(.show) > .close > svg > .l1 {
  transform: translateY(45%);
}
#login_flyout:not(.show) > .close > svg > .l2 {
  transform: translateY(55%);
}

#login_flyout.show > .close > svg > .l1 {
  transform: translateY(50%) rotate(-45deg);
}
#login_flyout.show > .close > svg > .l2 {
  transform: translateY(50%) rotate(45deg);
}

#login_close {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


#login_form > input {
  margin-bottom: .75rem;
  width: 100%;
  text-align: center;
  border: 1.75px var(--text-color) solid;
  background: none;
  border-radius: 2px;

}

#login_form > .submit {
  float: right;
  margin-left: 50%;
  transform: translateX(-200%);
}

.login-form > .submit {
  margin-left: 50%;
  transform: translate(-50%, 20px);
  padding: 2px 10px;
}

/* #login_form > .submit */

#login_form > * {
  display: block;
}

.input-field {
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  min-width: 100px;
}

.input-field > .prompt {
  position: absolute;
  top:100%;
  margin-top: -.7rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
  transform: scale(.75);
}
