.flyout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  opacity: 0;
  backdrop-filter: blur(15px);
  transition-property: opacity;
  transition:  .5s ease-in-out;
}

.flyout.show {
	pointer-events: all;
	opacity: 1;
}

.flyout:not(.show) {
 	pointer-events: none;
 	opacity: 0;
}



/*#login_flyout {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top:0;
}*/


.flyout.form input {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
	border-color: var(--text-color);
	text-color: var(--text-color);
}

