@font-face {
    font-family: 'Courier_Prime_Code_italic';
    src: url('../fonts/courier_prime_code_italic.woff2') format('woff2'),
         url('../fonts/courier_prime_code_italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Courier_Prime_Code';
    src: url('../fonts/courier_prime_code.woff2') format('woff2'),
         url('../fonts/courier_prime_code.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cosima';
    src: url('../fonts/cosima-demobold-webfont.woff2') format('woff2'),
         url('../fonts/cosima-demobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'techna_sans';
    src: url('../fonts/technasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/technasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barcode';
    src: url('../fonts/code39-hoch-logitogo-webfont.woff2') format('woff2'),
         url('../fonts/code39-hoch-logitogo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dystopia';
    src: url('../fonts/dystopia-bold-webfont.woff2') format('woff2'),
         url('../fonts/dystopia-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'captura';
    src: url('../fonts/captura/captura-bolddemo-webfont.woff2') format('woff2'),
         url('../fonts/captura/captura-bolddemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mollen';
    src: url('../fonts/mollen/mollen_personal_use-bold-webfont.woff2') format('woff2'),
         url('../fonts/mollen/mollen_personal_use-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-size: 12px;
    --text-color-rgb : 0,0,0;
    --text-color : rgb(var(--text-color-rgb));

    /*--background-color-rgb: 255,255,0;*/
    --background-color-rgb: 200,200,200;

    --background-color: rgb(var(--background-color-rgb));

    --bkrnd-1: 100, 0, 0;
    --bkrnd-2: 100, 50, 0;
    --text-stroke: .5px;
    --grid-unit: 2rem;
    --vine-color: rgb(140,140,140);
    --vine-color: var(--text-color);

    /*--text-color-rgb : 255,230,204;*/
    /*--background-color-rgb: 255,133,102;*/

    /*--background-color-rgb: 255,247,230;*/
    /*--text-color-rgb : 255,133,102;*/

    /*--background-color-rgb: 52,46,55;*/
    /*--text-color-rgb : 205,205,205;*/
    user-select: none;

}



body {
    -webkit-text-stroke: var(--text-color) var(--text-stroke);


    color: var(--text-color);
    font-family: 'Courier_Prime_Code';
    text-transform: capitalize;
    display: hidden;
    margin: 0px;

    text-transform: uppercase;

    transition-property: color, background;
    transition-duration: .5s;

    background:var(--background-color);
    overflow: hidden;
    /*background-image: linear-gradient(-0deg, var(--text-color), var(--background-color));*/
    scrollbar-width: none;

    width: 100vw;
    height: 100vh;
}

#admin_panel {

  z-index: 20;
}

#admin_panel > ul {
  position: absolute;
  bottom: 24px;
  left: 46%;
  margin: 0 auto;
  width: max-content;
  padding: 0px;
  border: 1px black;
}

#admin_panel > ul > li {
  display: inline-block;
  margin: 0 10px;
}


#transition_panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
}

#transition_canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
}

.transition-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}


.ltr{
  position: absolute;
  color: rgb(101,242,0) !important;
  -webkit-text-stroke-color: rgb(101,242,0) !important;
  background: black;
  width: 10px;
  text-align: center;
  /*display: none;*/
}

#body_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.body-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-wrapper:not(.active) {
  pointer-events: none;
  opacity: 0;
}

.body-wrapper.vine-sweep:not(.active) {
  /*opacity: 1;*/
  /*clip-path: polygon(0 0, 100% 0, 50% 50%, 0 80%);*/
}

.body-wrapper.active {
  pointer-events: all;
}


#pages_wrapper {

}

.pg {
  position: absolute;;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*.transit9oin*/
.pg.active {
  pointer-events: all;
  opacity: 1;
}

.pg:not(.active) {
  pointer-events: none;
  opacity: 0;
  /*clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);*/
}

.pg.home {
  /*backdrop-filter: blur(2.5px);*/
  /*opacity: .5;*/
  --transition-intro: vine-sweep;
  /*background: rgb(100,100,100);*/
  background: rgb(200,175,0);

  color: black;
}

.pg.crtvsltns {
  --transition-intro: cmd;
  background: black;
  color: rgba(100,240,0,.5);
  -webkit-text-stroke: 0px;
  /*opacity: 0;*/
  /*background:black;*/

  /*clip-path: url(#cmd_canvas_bkrnd);*/
  /*opacity: 0;*/

  padding: 100px 0;
}

.pg.crtvsltns {
  /*clip-path: url(#cmd_clip);*/
  /*mask-image: transparent;*/

  /*background:black;*/
  /*opacity: 1;*/
}

#hub_container {
  /*left: 0;*/
  /*right: 0;*/
  width: 75vw;
  height: 100%;
  margin: 0 auto;
  /*margin-left: 50%;*/
  /*transform: translateX(-50%);*/
  /*transform: translateY(-50%);*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8rem;
}


.cmdb {
  height: 80%;
  width: 100%;
  /*background: rgba(255,255,255, .25);*/
  /*padding: 20px 1rem 20px 1rem;*/
  /*margin-top: 20px;*/
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cmdb .container {
  /*width: 99%;*/
  /*height: 99%;*/
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 4rem;

}

.cmdb .title {
  /*margin-top:10%;*/
  margin: 0 auto;
  /*position: absolute;*/
  /*bottom:0;*/
  /*transform-origin: left center;*/
  /*transform: rotate(-90deg);*/
  /*left: 1rem;*/
  font-size: 25px;
  font-family: 'mollen';
  width: max-content;

  color: rgba(0,0,0,0);
  -webkit-text-stroke: rgba(100,240,0,.5) .6px;
}
.cmdb .image {
  height: 35%;
}
.cmdb .list {
  margin: 0 auto;
  padding: 0px;
  list-style-type: square;
  width: max-content;
  max-width: 99%;
}

.cmdb li {
  margin-bottom: .5rem;
}

.cmdb .container .list{
  position: absolute;
  bottom: 3.5rem;
  left: 2rem;
}

.cmdb .price {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  /*font-size: 1.5rem;*/
  /*-webkit-text-stroke: rgba(100,240,0,.2) .6px;*/
}

#hub_container .disclosure {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: .9rem;
  transform: translateX(-50%);
}

.cmdb .price  span {
  font-size: 1.2rem;
}

#cmd_canvas_bkrnd {
	/*filter: blur(5px);*/
}

#cmd_canvas {
	/*filter: blur(1px);*/
}

.pg.shop {
  --transition-intro: slide-bottom;
  --background-color: orange;
  --text-color: black;
}

/*.transition-panel.*/

#vineArt {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow:hidden;

  --vCount: 4;
}

#VACanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.vine-canvas {
  position: absolute;
  width: 150vw;
  height: 150vh;
  transform-origin:center;
  /*top: -5vh;*/
  /*top:-5vh;*/
  top: 50%;
  left: 50%;

  transform: scale(1.2);
  pointer-events: none;
}
#vineArt {
  --v0: 12, 15, 1, .1, -70;
  --v1: -32, -30, 5,.5, -36;
  --v2: -10, 0, 2, .3, -60;
  --v3: 10, 20,15,.1, -70;
  --v4: 20, 40, 3,.5, -80;
}

.txt-vertical {
  writing-mode: vertical-lr;
}

.title-inner {
  --space: .7rem;
  letter-spacing: var(--space);
  text-indent: var(--space);
}

.glass1 {
  backdrop-filter: blur(15px) brightness(96%);
}

.glass-children1 > * {
  backdrop-filter: blur(15px) brightness(96%);
}


#content_wrapper:not(.shop) {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.grd {
  position: absolute;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;
}

.grd > * {
  position: absolute;
}

.body-wrapper.behind {
  pointer-events: none;
}

.body-wrapper.front {
  pointer-events: all;
}

@media only screen and (max-width: 480px) {
  #content_wrapper {
    height: calc(100% - 4rem);
    margin-top: 5.5rem;
  }
}

svg > *, svg > * > * {
    transition-property: stroke, fill;
    transition-duration: .5s;
}

#thorn_pattern {
  position: absolute;
  top:0;
  fill:var(--text-color);
}

#thorn_pattern > defs > pattern {
  width: 1.7in;
  height: 1.7in;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) scale(3)}
  20% { transform:translate(-15%, 5%) scale(3) }
  40% { transform:translate(-5%, 15%) scale(3) }
  60% { transform:translate(15%, 0%) scale(3) }
  80% { transform:translate(3%, 5%) scale(3) }
}



@keyframes open {
  0% { clip-path: polygon(0 0, 100% 0, 0 0, 0 100%); }
  100% { clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}
@keyframes close {
  0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% { clip-path:  polygon(0 0, 100% 0, 0 0, 0 100%); }
}

@keyframes open-alt {
  0% { clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0 100%); }
  100% { clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}
@keyframes close-alt {
  0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% { clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0 100%); }
}






/*--------------------------------Home CSS---------------------------------------------
#home_page {
  --hptc: rgb(190,190,190);
  --hpbc: rgb(70,70,70);

  /*background: var(--hpbc);*/
  /*color: var(--hptc);*/

  /*-webkit-text-stroke-color: var(--hptc);*/

}



#grid_markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
.gm {
    position: absolute;
    width: 15px;
    stroke: var(--hptc);
    fill: none;
    stroke-width: 8px;
    z-index: 10;
    opacity: 0;
    font: 'courier_prime_code';
    font-size: 50px;
    -webkit-text-stroke: 0px;
    /*transition-property: opacity;*/
    /*transition: 1s linear;*/
}

/*Corner Markers*/
.home.cor {
    position: absolute;
    width: 15px;
    stroke: var(--hptc);
    fill: none;
    stroke-width: 5px;
    z-index: 10;
    /*opacity: 0;*/
    /*transition-property: opacity, fill, stroke;*/
    /*transition: 5s linear;*/
}
.home.cir {
    fill: var(--hptc);
}

/*-------------------------------- Home CSS ----------------------------------------------------*/


#copyright {
    position: absolute;
    bottom: 2rem;
    left: 13rem;
  /*grid-column:8/19;*/
  /*grid-row: 25/31;*/
  width: 22rem;
  height: 11rem;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  /*padding: .5rem;*/
}

#copyright_inner {
  opacity: .5;
  margin: .5rem auto;
  width: max-content;
  height: max-content;
}

#copyright_inner > div {

}

#copyright_inner > div > span {
    font-size: 10px;

    transform-origin: left bottom;
    transform: rotate(90deg);
    padding-bottom: 1px;
}




/*#content_wrapper {
    position: absolute;
    height: 100%;*/
    /*top: 4rem;*/
    /*left: 15rem;*/
    /*padding-left: 15rem;*/
    /*overflow-y: scroll;*/
/*}*/









.thorn-scroll {
  fill: var(--text-color);
  stroke: none;
  width: 100%;
  stroke-width:.5px;
  position: absolute;
  top:-11%;



  -webkit-animation: scroll 1.25s linear infinite;
}

#scr {
  top:-20px;
}

.thorn-scroll-wrapper {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    width: 4rem;
    height: 8rem;

    transform-origin:bottom right;
    transform: scale(.75);
}

.thorn-scroll-wrapper > svg{
  transform:scale(4);
}

.thorn-scroll-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#loading_wrapper {
    transform-origin: bottom right;
    transform:  rotate(-90deg);
}
#loading_inner {
    width: max-content;
    height: max-content;
    margin: .5rem auto;
}


@-webkit-keyframes scroll {
  from{top:-100%;}
  to {top:-260%;}
}

@keyframes scroll {
  from{top:-100%;}
  to {top:-260%;}
}

#load_flyout {
  /*background: var(--background-color);*/
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*display: none;*/
  backdrop-filter: blur(100px);

}

#load_inner {
  width: 100%;
  height: 100%;
}



/*Corner Markers*/
.cor {
    position: absolute;
    width: 15px;
    stroke: rgba(var(--text-color-rgb),1);
    fill: none;
    stroke-width: 5px;
    z-index: 10;
    /*opacity: 0;*/
    /*transition-property: opacity, fill, stroke;*/
    /*transition: 5s linear;*/
    /*display: none*/
}



/*.cor:hover {
    transition: .001s linear;
    opacity: 1;
}*/

.cir {
    fill: rgba(var(--text-color-rgb),1);
    display: none;
}
.ct{
    top: -7.5px;

}
.cb{
    bottom:-7.5px;

}

.cl {
    left: -7.5px;

}

.cr {
    right: -7.5px;
}

.flkr {
    opacity: .5;
}
/* ^ Corner Markers ^ */




/* Grid Positions */

/*#content_wrapper {

    display: grid;
    grid-column: 9/62;
    grid-row: 2/31;

}

#main_nav_wrapper {
    grid-column: 2/8;
    grid-row: 4/14;
}

#title {

    grid-column: 2/8;
    grid-row: 2;
}

.thorn-scroll-wrapper {
    grid-column: 62/64;
    grid-row:27/31;
}

#loading_wrapper {

    grid-column: 61/64;
    grid-row: 24;

}*/

 /* ^ Grid Positions ^ */













/* Scrollbar Stuff */

::-webkit-scrollbar {
    width: 10px;
    display: none;
    /*position: absolute;*/
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    display: none; 
    /*position: absolute;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.25);
    width: 8px;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


